@font-face {
font-family:'Plus Jakarta Sans Regular';
font-weight: normal;
src: url('https://s3.lightboxcdn.com/vendors/90ca8da8-a24f-4f3e-b716-8138fe220538/uploads/e6097359-30a5-40d1-b15e-a84520b1564f/PlusJakartaSans-Light.woff2') format('woff2');
}