@font-face {
font-family:'CopperPot Bold';
font-weight: normal;
src: url('https://s3.lightboxcdn.com/vendors/47b4a4dd-ffd7-43db-8118-8002b7c15352/uploads/ddbf1038-d864-417a-b0ce-6631e36f813f/copperpotbold.woff2') format('woff2');
}